<div class="w-full h-full flex items-center justify-center mt-16 mb-32 mx-auto max-w-225">
  <div class="min-h-80 mb-16 p-8 rounded-xl items-center justify-center text-center bg-slate-900 text-slate-100 dark:bg-slate-100 dark:text-slate-700 flex-1 flex flex-col gap-6 py-16 px-8">
    <div>
      <h1 class="text-7xl/tight mb-4 font-extrabold">Página não encontrada ou acesso negado</h1>
      <p class="justify-self-center"><app-button text="Retornar a pagina anterior" (onClick)="returnPage()" title="Voltar à pagina anterior"></app-button></p>
    </div>
  </div>
</div>
