<form
  (ngSubmit)="onSubmit()"
  [formGroup]="userForm"
  class="flex-1 flex flex-col gap-6 py-16 px-16 card sm:w-sm lg:w-xl">
  <h1 class="text-center text-2xl font-extrabold">
    @if (user) {
      Editar Usuário
    } @else {
      Criar Usuário
    }
  </h1>
  @if (message && message != '') {
    <p class="text-center">
      {{ message }}
    </p>
  }
  <div class="input-group">
    <label class="font-bold" for="email">Email:</label>
    <input [ngClass]="inputClasses" class="input" formControlName="email" id="email" name="email"
           placeholder="Digite o e-mail"
           type="email"/>
    @if (userForm.controls.email.invalid && userForm.controls.email.touched) {
      <mat-error class="ps-2 font-thin text-red-400">
        @if (userForm.controls.email.errors?.['required']) {
          Digite um e-mail
        }

        @if (userForm.controls.email.errors?.['email']) {
          Digite um e-mail válido
        }
      </mat-error>
    }
  </div>
  <div class="input-group">
    <label class="font-bold" for="password">Senha:</label>
    <input [ngClass]="inputClasses" formControlName="password" id="password" name="password"
           placeholder="Digite a senha"
           type="password">
    @if (userForm.controls.password.invalid && userForm.controls.password.touched) {
      <mat-error class="ps-2 font-thin text-red-400">
        @if (userForm.controls.password.errors?.['required']) {
          Digite uma senha
        }
      </mat-error>
    }
  </div>

  <div class="input-group">
    <label class="font-bold" for="confirmed-password">Confirme a Senha:</label>
    <input [ngClass]="inputClasses" formControlName="confirmPassword" id="confirmed-password" name="confirmed-password"
           placeholder="Confirme a senha"
           type="password">
    @if (userForm.controls.confirmPassword.invalid && userForm.controls.confirmPassword.touched) {
      <mat-error class="ps-2 font-thin text-red-400">
        @if (userForm.controls.confirmPassword.errors?.['required']) {
          Digite uma senha
        }
      </mat-error>
    }
    @if (userForm.invalid) {
      <mat-error class="ps-2 font-thin text-red-400">
        @if (userForm.errors?.['passwordMismatch']) {
          As senhas devem ser iguais
        }
      </mat-error>
    }
  </div>

  @if (user && _isAdmin) {
    <div class="input-group">
      <label class="font-bold" for="roles">Permissões:</label>
      <select [ngClass]="selectClasses" formControlName="roles" id="roles" multiple name="roles">
        <option [value]="null" class="text-slate-300" disabled>Selecione</option>
        <option [value]="UserRole.ADMIN">Administrador</option>
        <option [value]="UserRole.USER">Usuário</option>
      </select>

      @if (userForm.controls.roles.invalid && userForm.controls.roles.touched) {
        <mat-error class="ps-2 font-thin text-red-400">
          @if (userForm.controls.roles.errors?.['required'] || userForm.controls.roles.errors?.['requiredSelection']) {
            Selecione pelo menos uma permissão
          }
        </mat-error>
      }
    </div>

    <div class="input-group">
      <label class="font-bold" for="activated">Estado de ativação:</label>
      <select [ngClass]="selectClasses" formControlName="activated" id="activated" name="activated">
        <option [value]="null" class="text-slate-300" disabled>Selecione</option>
        <option [value]="true">Ativo</option>
        <option [value]="false">Inativo</option>
      </select>

      @if (userForm.controls.activated.invalid && userForm.controls.activated.touched) {
        <mat-error class="ps-2 font-thin text-red-400">
          @if (userForm.controls.activated.errors?.['required']) {
            Selecione uma opção
          }
        </mat-error>
      }
    </div>
  }

  <app-button [disabled]="loading()" [fullButton]="true" text="Enviar" title="Enviar" type="submit"></app-button>

  @if (error()) {
    <p class="text-red-400">
      Ocorreu um erro ao realizar a requisição.
    </p>
  }
</form>
